<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Comment</title>
  </head>
  <body>
    <form method="POST" action="/comments/<%=editedComment.id%>/?_method=PATCH">
      <h1>Edit your comment</h1>
      <textarea name="edit_text_area" id="edit_text_area" cols="30" rows="10">
  <%=editedComment.comment%></textarea
      >
      <button>Submit Changes</button>
    </form>
  </body>
</html>
