<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment Index</title>
  </head>
  <body>
    <h1>Comment Index</h1>
    <% for(comment in comments){%> <% let currentComment = comments[comment] %>
    <p><b> <%= currentComment.username%> says: </b> <%= currentComment.comment %></p>
    <form method="GET" action="comments/<%= currentComment.id %>/show/">
      <button>View Comment</button>
    </form>
    <% } %>
  </body>
</html>
