<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Comment</title>
  </head>
  <body>
    <form
      style="display: block; margin-left: auto; margin-right: auto; margin-top: 25%; width: 40%"
      action="/comments"
      method="post"
    >
      <h1>New Comment</h1>
      <section>
        <label for="username">Enter Your Username</label>
        <input name="username" type="text" />
      </section>
      <br />
      <section>
        <label for="comment">Enter Your Comment</label>
        <textarea name="comment" cols="30" rows="10"></textarea>
      </section>
      <button>Submit</button>
    </form>
  </body>
</html>
