<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment</title>
  </head>
  <body>
    <div>
      <h1><%=requestedComment.username%> comments:</h1>
      <p><%= requestedComment.comment %></p>
      <a href="/comments">Back</a>
    </div>
    <form action="/comments/<%=requestedComment.id%>?_method=DELETE" method="POST">
      <button>Delete Comment</button>
    </form>
  </body>
</html>
